
<h1 class="title">Stupid Coaching</h1>
<p>Coach answer:</p>

<% if @question == 'I am going to work' %>
     <h1>Great</h1>
      <% elsif @question.include?('?') %>
        <h1>'No questions, just get dressed and get to work!</h1>
      <% else %>
        <h1>'I don\'t care get dressed and get to work!'</h1>
      <% end %> --> -->

       <%= link_to 'Ask a new question' , ask_path %>






